{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block description %}Blog entries page.{% endblock %}

{% block content_title %}{% if category %} {{ category }} {% elif search %}Results for "{{ search }}"{% else %}Events{% endif %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for entry in object_list %}
      <div class="col-lg-4 col-md-6 text-center">
        <h5 class="proj-title"><a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">{{ entry.title }}</a></h5>
        {% if entry.banner_id %}
          <div class="image-container">
            <img class="proj-img" src="{{ banner_images[entry.banner_id] }}" alt="artCategory">
            <div class="after fade-in"></div>
            <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}" type="button" class="btn af-btn fade-in">Go</a>
          </div>
        {% endif %}
      </div>
      {% else %}
        <p>No entries have been created yet.</p>
      {% endfor %}
    </div>
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}