{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}

  <button class="btn btn-primary site-btn" onclick="window.location.href='{{ url_for('create') }}'">Create Post</button>
  <button class="btn btn-primary site-btn" onclick="window.location.href='{{ url_for('drafts') }}'">View Draft Posts</button>
  <button class="btn btn-primary site-btn" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>

{% endblock %}
