{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block description %}Events manager dashboard.{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}
  <h4>Post Management</h4>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('create') }}'">Create Event</button>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('drafts') }}'">View Draft Events</button>
  <h4>Resource Management</h4>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('image_manager') }}'">Manage Images</button>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('link_manager') }}'">Manage Links</button>
  <h4>Logout</h4>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
{% endblock %}
