{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block description %}Events manager dashboard.{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}
  <h3>Event Management</h3>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('create') }}'">Create Event</button>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('drafts') }}'">View Draft Events</button>
  <h3>Image Management</h3>
  <button class="btn btn-primary" onclick="window.location.href=''>Manage Images</button>
  <h3>Logout</h3>
  <button class="btn btn-primary" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
{% endblock %}
