{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block description %}{{ entry.title }} page.{% endblock %}

{% block content %}
  
  {% if entry.banner_id %}
    <img class="img-fluid rounded mx-auto d-block" src="{{ banner_path }}" alt="banner">
  {% endif %}

  <h3 class="content-title">{{ entry.title }}</h3>
  
  <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
  {{ entry.html_content }}

  {% if entry.link_id|length %}
    <button class="btn site-btn" onclick="window.location.href='/link/{{ entry.link_id }}'">Click here!</button>
  {% endif %}

  {% if session.logged_in %}
    <hr class="separator">
    <button class="btn site-btn" onclick="window.location.href='{{ url_for('edit', slug=entry.slug) }}'">Edit Post</button>
    <button class="btn site-btn" onclick="deletePost('{{ entry.slug }}');">Delete Post</button>
  {% endif %}
{% endblock %}

{% block final_scripts %}
<script>
  function deletePost(id) {
    $.ajax({
        url : '/p/' + id + '/edit',
        method : 'delete',
    }).fail(function(){
        alert("An error occurred, the post couldnt be deleted!");
    });
  }
</script>
{% endblock %}
