{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block description %}{{ entry.title }} page.{% endblock %}

{% block extra_head %}<link href="/css/showcase.css" rel="stylesheet">{% endblock %}

{% block content %}
  
  {% if entry.banner_id %}
    <img class="img-fluid rounded mx-auto d-block" src="{{ banner_path }}" alt="banner">
  {% endif %}

  <h3 class="content-title">{{ entry.title }}</h3>
  
  <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
  {{ entry.html_content }}

  {% if showcase_info %} <h3 class="content-title">Gallery</h3> {% endif %}
  
  <div class="container">
    <div class="row">
    {% for image_dict in showcase_info %}
        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="image-container">
            <img class="proj-img showcase_img" src="{{ image_dict['path'] }}" alt="{{ image_dict['title'] }}">
          </div>
        </div>
    {% endfor %}
    </div>
  </div>

  <div id="imageModal" class="gallery_modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modelImage">
    <div id="caption"></div>
  </div>

  {% if entry.link_id|length %}
    <button class="btn site-btn" onclick="window.location.href='/link/{{ entry.link_id }}'">Click here!</button>
  {% endif %}

  {% if session.logged_in %}
    <hr class="separator">
    <button class="btn site-btn" onclick="window.location.href='{{ url_for('edit', slug=entry.slug) }}'">Edit Post</button>
    <button class="btn site-btn" onclick="deletePost('{{ entry.slug }}');">Delete Post</button>
  {% endif %}

{% endblock %}

{% block final_scripts %}
<script>
  
  function deletePost(id) {
    $.ajax({
        url : '/p/' + id + '/edit',
        method : 'delete',
    }).fail(function(){
        alert("An error occurred, the post couldnt be deleted!");
    });
  }
  
  var modal = document.getElementById("imageModal");
  var gallery_images = document.getElementsByClassName("showcase_img");
  var modalImg = document.getElementById("modelImage");
  var captionText = document.getElementById("caption");

  for(var i = 0; i < gallery_images.length; i++) {
    gallery_images[i].onclick = function() {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
   
</script>
{% endblock %}
