<!DOCTYPE html>
<html lang="en">

<head>
	<title>Error {{ code }}</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#000000">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Error {{ code }} Page.">
	
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/sans.css') }}" type="text/css" charset="utf-8"/>
	
	<script type="text/javascript" src="{{ url_for('static', filename='/js/utils.js') }}"></script>
</head>
<body>

<div class='navbar'>
	<ul>
		<li class='name'>Events Page</li>
	</ul>
</div>

<div id='main'>
	<h1 class="title">Error {{ code }}:</h1>
	<h2 class="heading">{{ about }}</h2>
	
	<p class="text">If this error keeps happening, please contact me <a href ="mailto: 965121@swansea.ac.uk?subject=Website Error {{ code }}">here</a>.</p>
</div>

<script>
	window.addEventListener("resize", mobileWidthCheck); mobileWidthCheck();
</script>
</body>
</html>