<!DOCTYPE html>
<html lang="en">

<head>
	<title>Torbay Events Manager</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#000000">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Torbay Events Manager">
	
	<link rel="stylesheet" href="/css/styles.css" type="text/css" charset="utf-8"/>
	<link rel="stylesheet" href="/css/sans.css" type="text/css" charset="utf-8"/>
	
	<script type="text/javascript" src="/js/utils.js"></script>
</head>
<body>

<div class='navbar'>
	<ul>
		<li class='name'>Torbay Events Manager</li>
	</ul>
</div>

<div id='main'>
	<h1 class="title">Welcome!</h1>
	<p class="text">This is a temporary front page.</p>
</div>

<script>
	window.addEventListener("resize", mobileWidthCheck); mobileWidthCheck();
</script>
</body>
</html>