{% extends "base.html" %}

{% block title %}Image Manager{% endblock %}

{% block content_title %}Image Manager{% endblock %}

{% block extra_head %}<link href="/css/photo-grid.css" rel="stylesheet">{% endblock %}

{% block extra_scripts %}<script src="/js/photo-grid.js" type="text/javascript"></script>{% endblock %}

{% block content %}
	<h3>Upload</h3>
	<form id="uploadbanner" enctype="multipart/form-data" method="post" action="#">
		<input type="file" id="img" name="file" accept="image/*">
		<p> </p>
		<input type="submit" value="Submit" id="submit" class="btn btn-primary">
	</form>
	
	<h3>Library</h3>
	<div id="photo-grid" class="photo-grid">
		{% for id, path in images.items() %}
    		<img id="{{ id }}" src="{{ path }}" class="photo-cell">
		{% endfor %}
	</div>
{% endblock %}

{% block final_scripts %}
	<script>
		addImageClickers();
	</script>
{% endblock %}
