{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block description %}Welcome page!{% endblock %}

{% block content_title %}What are you looking for?{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="image-container">
          <a href="{{ url_for('blog', q='art') }}">
            <div class="gradient-overlay"></div>
            <img class="proj-img" src="/img/artCategory.jpg" alt="artCategory">
            <div class="imageCaption">
              <p class="imageCaptionTitle">Art</p>
              <p class="imageCaptionDesc">Find the best local artists around the bay area.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="image-container">
          <a href="{{ url_for('blog', q='food') }}">
            <div class="gradient-overlay"></div>
            <img class="proj-img" src="/img/foodCategory.jpg" alt="foodCategory">
            <div class="imageCaption">
              <p class="imageCaptionTitle">Food</p>
              <p class="imageCaptionDesc">Find the best local restaurants and food vendors.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="image-container">
          <a href="{{ url_for('blog', q='history') }}">
            <div class="gradient-overlay"></div>
            <img class="proj-img" src="/img/historyCategory.jpg" alt="historyCategory">
            <div class="imageCaption">
              <p class="imageCaptionTitle">History</p>
              <p class="imageCaptionDesc">Find the best local history attractions and events.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}