{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block description %}Welcome page!{% endblock %}

{% block content %}

  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hi</h1>
      <p class="lead">My name is Kane, and I am an MSc Computer Science student studying in Wales.
      Welcome to my blog! Here you will find many of my projects, thoughts and ideas.</p>
    </div>
  </div> -->

  <h5 class="page-header" >What are you looking for?</h5>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">Art</h5>
      <div class="image-container">
        <img class="proj-img" src="/img/artCategory.jpg" alt="artCategory">
        <div class="after fade-in">Find local artists and galleries</div>
        <a href="{{ url_for('blog', q='art') }}" type="button" class="btn af-btn fade-in">Go</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">Food</h5>
      <div class="image-container">
        <img class="proj-img" src="/img/foodCategory.jpg" alt="historyCategory">
        <div class="after fade-in">Find a number of exciting restaurants, cafés, and pubs around the bay</div>
        <a href="{{ url_for('blog', q='history') }}" type="button" class="btn af-btn fade-in">Go</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">History</h5>
      <div class="image-container">
        <img class="proj-img" src="/img/historyCategory.jpg" alt="outdoorCategory">
        <div class="after fade-in">Find a range of historical attractions</div>
        <a href="{{ url_for('blog', q='outdoor') }}" type="button" class="btn af-btn fade-in">Go</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}