{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block description %}Welcome page!{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hi</h1>
      <p class="lead">My name is Kane, and I am an MSc Computer Science student studying in Wales.
      Welcome to my blog! Here you will find many of my projects, thoughts and ideas.</p>
    </div>
  </div>
  <h3 class="page-header" >Selected Projects</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">NovoLS</h5>
      <div class="image-container">
        <img class="proj-img" src="/images/novols.jpg" alt="Novo-LS">
        <div class="after fade-in">An unsupervised text simplification web service developed using Python.</div>
        <a href="{{ url_for('detail', slug='novols-an-unsupervised-text-simplification-web-app') }}" type="button" class="btn af-btn fade-in">Learn More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">TrackTrack</h5>
      <div class="image-container">
        <img class="proj-img" src="/images/tracktrack.jpg" alt="TrackTrack">
        <div class="after fade-in">A Pokemon Go inspired song guessing game developed using Kotlin.</div>
        <a href="{{ url_for('detail', slug='tracktrack-a-pokemon-go-esque-song-guessing-game') }}" type="button" class="btn af-btn fade-in">Learn More</a>  
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
      <h5 class="proj-title">Adara</h5>
      <div class="image-container">
        <img class="proj-img" src="/images/adara.png" alt="Adara">
        <div class="after fade-in">An old virtual assistant project developed using Python.</div>
        <a href="{{ url_for('detail', slug='adara-a-simple-desktop-virtual-assistant') }}" type="button" class="btn af-btn fade-in">Learn More</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}